<!DOCTYPE html>

<html>
  <style>
.inputs {
  position: fixed; /* Sit on top of the page content */
  width: 50%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 50%;
  background-image: linear-gradient(black, #273cd8);
}

.cards {
  position: fixed; /* Sit on top of the page content */
  width: 50%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  background-color: purple;
}
    
  </style>
<head>
    <title></title>
</head>
<body>
  <div id="box">
    
  <div id="cards" class="cards">
  <div id="inputs" class="inputs">
    <button id="play_button" onclick="send_session(player);" >Play</button>
    <button id="player_button" onclick="change_player();" >Player: 1</button>
    <button id="new_game_button" onclick="make_game();" >Create new game</button>
    <input id="gameIDinput" type="text" name="myCountry" placeholder="Game Password">
    <input id="gameindexinput" type="text" name="myCountry" placeholder="Game ID">
    <p style="color:#273cd8; font-size:2vh;">How to start:<br>
    - (optional) put in a password for your game <br>
    - click create new game<br>
    - An ID will appear in the game ID box, get your friend to input the id and password into their boxes.<br>
    - Select which player you'd like to be by clicking on the player button.<br>
    - both players press play<br>
    - (While in game, the id and password can be found by clicking the i in the top left)
    </p>
    <p style="color:black; top:60%; position:absolute; font-size:2vh;"><b>How to play:<br>
    - play a spell from your hand each turn<br>
    - spells will cast at the start of your next turn<br>
    - instants are cast immediately<br>
    - the game ends when you've cast all the spells in your hand<br>
    - whoever has dealt the most damage to the other player at the end of the game wins<br>
    - some spells deal damage, and some spells prevent damage by adding defense, which is damaged instead of your health<br>
    - and some spells are counterspell.<br>
    - we don't talk about counterspell<br>
    - (spells also have types, like arcane and fire, which may affect other spells)</b></p>
  </div>
<script>
  
player=1;
gameID=document.getElementById("gameIDinput").value;
  
  
function change_card(){
  
}
  
function change_player(){
  if (player==1){
    player=2;
  }
  else{
    player=1;
  }
  document.getElementById("player_button").innerHTML = "Player: "+player;
}
  
  
//communicating with the server:
  
function send_session(info){
    message=[info,document.getElementById("gameIDinput").value,document.getElementById('gameindexinput').value];
     fetch(
           '/sessionget', 
           {
             method: 'POST',
             headers: {
              'Content-type': 'application/json',
              'Accept': 'application/json'
             },
             body:JSON.stringify(message)
           }
          ).then(res=>{
             if(res.ok) {
               return res.json();
             } else {
               alert('something is wrong');
             }
           }
          ).then(jsonResponse=>{
  console.log(jsonResponse);
  session_num=jsonResponse;
  location.href = location.href+'main?e='+session_num;
  } 
  ).catch((err) => console.error(err));
}

function make_game(){
    message=[document.getElementById("gameIDinput").value];
     fetch(
           '/makegame', 
           {
             method: 'POST',
             headers: {
              'Content-type': 'application/json',
              'Accept': 'application/json'
             },
             body:JSON.stringify(message)
           }
          ).then(res=>{
             if(res.ok) {
               return res.json();
             } else {
               alert('something is wrong');
             }
           }
          ).then(jsonResponse=>{
  console.log(jsonResponse);
  document.getElementById('gameindexinput').value=jsonResponse;
  } 
  ).catch((err) => console.error(err));
}


//visuals:

function resize(){
    var i;
    var w = window.innerWidth;
    var h = window.innerHeight;
}

window.onresize = function() {
    resize();
};

//Selecting and changing cards:

function getcard(cardcode){
  if (cardcode=="FRB"){
    return("{{url_for('static', filename='fireball_card_prototype.jpg')}}");
  }
  else if (cardcode=="ACM"){
    return("{{url_for('static', filename='arcane_missiles_card_prototype.jpg')}}");
  }
  else if (cardcode=="WRD"){
    return("{{url_for('static', filename='ward_card_prototype.jpg')}}");
  }
  else if (cardcode=="CTS"){
    return("{{url_for('static', filename='counterspell_card_prototype.jpg')}}");
  }
  else if (cardcode=="CSH"){
    return("{{url_for('static', filename='charged_shield_card_prototype.jpg')}}");
  }
  else if (cardcode=="PFL"){
    return("{{url_for('static', filename='phoenix_flame_card_prototype.jpg')}}");
  }
  else {
    return("{{url_for('static', filename='card_base.jpg')}}");
  }
}

function makecard(cardcode){
  var current=card_img.length;
  card_img.push([document.createElement('img'),cardcode]);
  card_img[current][0].setAttribute(
      'src',
      getcard(cardcode)
  );
  card_img[current][0].setAttribute('alt', 'nature');
  card_img[current][0].setAttribute('height', 85);
  card_img[current][0].setAttribute('width', 55);
  card_img[current][0].classList.add("overlay");
  card_img[current][0].style.left=20+"px";
  card_img[current][0].style.top=20+"px";
  box.appendChild(card_img[current][0]);
  card_img[current][0].onclick = function() {
    change_card(cardcode);
  };
  //console.log(card_img);
}
    
card_img=[];
makecard("FRB");

</script>
</body>
</html>
